# Core web
fastapi>=0.115,<1.0
pydantic>=2.7,<3.0
pydantic-core>=2.18,<3.0
mangum>=0.17,<1.0
httpx>=0.27,<1.0

# AWS
boto3>=1.34,<2
botocore>=1.34,<2

# Utils
python-dotenv>=1.0,<2.0
PyYAML>=6.0,<7.0
requests>=2.31,<3.0
typing_extensions>=4.11,<5

# (Opcional) Zona horaria
# Recomendado migrar a zoneinfo; si de momento dependes de pytz, déjalo:
pytz>=2024.1
babel>=2.17,<3.0
trycourier>=5.0.0,<6.0.0
python-jose>=3.3.0,<4.0.0
python-multipart>=0.0.9,<0.1.0
